# Server
SERVER_HOST=your-server-ip
SERVER_PORT=1234
SERVER_SCHEME=http
SERVER_SQLITE_URL=./kp-sqlite.db
SERVER_WORKERS=4
SERVER_PROXY_HEADERS=true

# KinoPub API
KP_CLIENT_ID=
KP_CLIENT_SECRET=
KP_PROTOCOL=hls4
KP_QUALITY=1080p